@font-face {
  font-family: RobotoCondensed;
  src: url(https://cdn.marvel.com/u/prod/marvel/font/roboto/RobotoCondensed-Regular.woff2)
    format("woff2");
}
@font-face {
  font-family: RobotoCondensed Bold;
  src: url(https://cdn.marvel.com/u/prod/marvel/font/roboto/RobotoCondensed-Bold.woff2)
    format("woff2");
}
@font-face {
  font-family: Roboto;
  src: url(https://cdn.marvel.com/u/prod/marvel/font/roboto/Roboto-Regular.woff2)
    format("woff2");
}
@font-face {
  font-family: Roboto Bold;
  src: url(https://cdn.marvel.com/u/prod/marvel/font/roboto/Roboto-Bold.woff2)
    format("woff2");
}
@font-face {
  font-family: Open Sans;
  src: url(https://cdn.marvel.com/u/prod/marvel/font/roboto/open-sans-v15-latin-regular.eot#iefix);
  src: url(https://cdn.marvel.com/u/prod/marvel/font/roboto/open-sans-v15-latin-regular.eot#iefix)
      format("eot"),
    url(https://cdn.marvel.com/u/prod/marvel/font/roboto/open-sans-v15-latin-regular.woff2)
      format("woff2"),
    url(https://cdn.marvel.com/u/prod/marvel/font/roboto/open-sans-v15-latin-regular.woff)
      format("woff"),
    url(https://cdn.marvel.com/u/prod/marvel/font/roboto/open-sans-v15-latin-regular.ttf)
      format("truetype"),
    url(https://cdn.marvel.com/u/prod/marvel/font/roboto/open-sans-v15-latin-regular.svg)
      format("svg");
}
