/* ///////////// Hero /////////// */
.hero {
  width: 100%;
  height: 100vh;
  max-height: 400px;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 400px;
  background-image: url(../photos/internal-page/bg.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero:after {
  content: "";
  position: absolute;
  bottom: -30;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  transform: rotate(-1deg);
  clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.hero .hero-content ul {
  height: 100%;
  color: #fff;
  font-size: 15px;
}
.hero .hero-content ul li .img-container {
  width: 450px;
  height: 250px;
}
.hero-content li:last-child .btn.btn-red {
  transition: background-color 0.2s;
}
.hero-content li:last-child:hover .btn.btn-red {
  background-color: #9e0113;
}

.social-media {
  font-size: 18px;
  width: 100%;
  color: #767676;
  right: 170px;
  bottom: 5px;
  position: absolute;
}
.social-media i {
  transition: color 0.4s;
}
.social-media i:hover {
  color: #151515;
}
/* ////////// final-trailer //////////*/
/* ****** trailer-common-codes ***** */
.icon-logo {
  width: 40px;
  height: 40px;
}
.trailer-bg {
  width: 100%;
  height: 650px;
}
.final-trailer .trailer-bg:before {
  background-image: url(../photos/internal-page/maxresdefault.webp);
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center center;
  z-index: -1;
}
.trailer-bg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 1%,
    rgba(0, 0, 0, 0.3) 5%,
    transparent 30%,
    transparent 70%,
    rgba(0, 0, 0, 0.3) 95%,
    rgba(0, 0, 0, 0.7) 99%
  );
  width: 100%;
  height: 100%;
  z-index: -1;
}
.trailer-bg .youtube-icon {
  position: absolute;
  color: red;
  font-size: 50px;
  left: 50%;
  bottom: 50%;
}
.trailer-bg .top-list {
  color: #fff;
}

.trailer-bg .top-list .icon {
  font-size: 22px;
}
.trailer-bg .top-list .text {
  font-size: 12px;
}
.trailer-bg .bottom-list {
  position: absolute;
  bottom: 20;
  color: #fff;
  left: 20;
}

/* //////////////latest-news/////////////// */
.latest-news {
  background-color: #151515;
  border-bottom: 1px solid #545454;
}
.latest-news ul li .content {
  font-size: 14px;
}
.latest-news ul li .content span {
  font-weight: 500;
}
.latest-news ul li .content a {
  transition: all 0.2s;
}
.latest-news ul li .content a:hover {
  color: #e6252a;
}
.latest-news .btn {
  left: 50%;
  transform: translateX(-50%);
}
/* //////////////overview/////////////// */
.overview-background {
  width: 100%;
  height: 100vh;
  max-height: 400px;
}
.overview-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 400px;
  background-color: #000;
  z-index: -1;
}

.overview-background:after {
  content: "";
  position: absolute;
  bottom: -30;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  transform: rotate(-1deg);
  clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
}
.logo-back {
  width: 100%;
  height: 100%;
}
.logo-back:before {
  content: "";
  left: 50%;
  top: 50%;
  width: 326px;
  height: 163px;
  transform: translate(-50%, -50%);
  position: absolute;
  background-image: url(../photos/internal-page/themarvels_lob_log_div_02.png);
  background-size: fill;
  z-index: 3;
}
.overview-text-box .overview-content {
  background-color: #fff;
  margin-top: -80px;
  font-size: 16px;
  font-weight: 300;
}
.overview-content .description li p {
  font-size: 16px;
}
.overview-content .description ul li p:first-child {
  font-size: 12px;
  font-weight: 600;
  color: #767676;
  margin-bottom: 5px;
}
.overview-content .description ul li p:last-child {
  font-size: 14px;
  font-weight: 400;
}
/* ////////////photo-gallery///////////// */
.photo-gallery ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 5px;
}
.photo-gallery ul li {
  transition: all 0.2s;
}
.photo-gallery ul li img {
  width: 100%;
  height: 100%;
  padding: 4px;
}
.photo-gallery ul li:hover {
  transform: scale(1.15);
  box-shadow: 0 5px 15px 7px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 8;
  background-color: #fff;
}
.photo-gallery .btn {
  left: 50%;
  transform: translateX(-50%);
}
/* /////////////characters////////////// */
.characters ul li .text {
  width: 100%;
  height: 160px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 100%, 0 100%);
  overflow: hidden;
  border-top: 4px solid #e62429;
  z-index: 3;
  position: relative;
}

.hover-box {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 100%, 0 100%);
}
.hover-box:before {
  background: #e62429;
  bottom: 100%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition: transform 0.3s;
  width: 100%;
  z-index: -1;
}
.characters li:hover .hover-box:before {
  transform: translate3d(0, 100%, 0);
}
.characters li {
  background-color: #000;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 100%, 0 100%);
}
.characters li .img-wraper {
  overflow: hidden;
}
.characters li img {
  transition: all 0.3s;
  border-bottom: 2px solid #e62429;
}
.characters li:hover img {
  transform: scale(1.05);
}
/* //////// official-trailer ///////// */
.official-trailer .trailer-bg:before {
  background-image: url(../photos/internal-page/ot.jpeg);
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center center;
  z-index: -1;
}
/* //////////// posters ///////////// */
.posters ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 10px;
}
.posters ul li img {
  width: 100%;
  height: 100%;
  padding: 4px;
}
.posters ul li {
  transition: all 0.2s;
}
.posters ul li:hover {
  transform: scale(1.15);
  box-shadow: 0 5px 15px 7px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 8;
  background-color: #fff;
}
/* //////// teaser-trailer ///////// */
.teaser-trailer .trailer-bg:before {
  background-image: url(../photos/internal-page/tt.webp);
  content: "";
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center center;
  z-index: -1;
}
/* //////// related-movie ///////// */
.related-movie ul {
  border: 1px solid #d8d8d8;
  box-shadow: 0 7px 17px -14px rgba(0, 0, 0, 0.8);
}
.related-movie ul li:last-child {
}
